<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <a id="home" href="/" class="pt"><li>início</li></a>
        <!-- <a id="home" href="index.html" class="en" style="display: none;"><li>Home</li></a> -->
        <a href="projects" class="pt"><li>Projetos</li></a>
        <!-- <a href="projects.html" class="en" style="display: none"><li>Projects</li></a> -->
      </div>
    </header>
  </body>
</html>
